
body {
    background-color: black;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;  
    font-style: italic;
    text-align: center;
    color: white;
}

<<<<<<< HEAD
nav, input {
    display: flex;
    justify-content: center;
    margin-left: 30px;
=======
nav, div, input {
    display: inline;
>>>>>>> edee8ebe2151f69c8e171002c78d28ec58c56d0f
    color: white;
}
 
li {
    display: inline;
    margin: 10px;
}

img {
    width: 200px;
    height: 266px;;
   
}